
<div class="row ">
    <div class="col cloth  s8 offset-s2">
        <h1 class="cloth-title">{{cloth.type}}</h1>
        <hr>
<img class="cloth-img" src="{{cloth.image}}" alt="{{cloth.type}}">
<hr>
<p class="price">{{cloth.price}}</p>
    </div>
</div>


